body{
	font-family: 'Roboto', sans-serif;
}
h1{
	font-size: 66px;
	font-weight: 700;
	padding: 41px 0 72px;
	text-transform: uppercase;
}
h2{
	letter-spacing: -0.065em;
	font-size: 58px;
	font-weight: 300;
}
h2 span{
	font-weight: 700;
}
p{
	line-height: 24px;
	letter-spacing: -0.045em;
	font-size: 16px;
	font-weight: 400;
	color: #777777;
}
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
}
.container{
	max-width: 940px;
	margin: 0 auto;
}
.header{
	position: relative;
	height: 620px;
	background: url(../img/header-bg.png) center no-repeat;
	color: #ffffff;
	text-align: center;
}
.header .container{
	padding-top: 43px;
}
.header p{
	letter-spacing: -0.08em;
	font-size: 32px;
	font-weight: 300;
	padding-top: 185px;
}
.header .button a{
	display: block;
	font-size: 20px;
	font-weight: 700;
	padding: 20px 0 21px;
	color: inherit;
	text-decoration: none;
}
.logo{
	float: left;
}
.navig{
	padding-top: 8px;
	float: right;
	font-weight: 500;
	font-size: 17px;
}
.navig a{
	text-decoration: none;
	color: inherit;
}
.navig li{
	display: inline-block;
	padding-right: 21px;
}
.navig li:last-child{
	padding: 0;
}
.button{
	height: 61px;
	width: 237px;
	margin: 0 auto;
	border: 2px solid #ffffff;
	border-radius: 4px;
}


.home .container{
	max-width: 860px;
}
.servis-box{
	padding: 94px 0;
}
.servis-box .wrapper-right{
	padding-right: 20px;
}
.wrapper-left{
	float: left;
	width: 555px;
}
.wrapper-right{
	float: right;
	width: 515px;
}
.home h2{
	padding-bottom: 41px;
}
.first{
	padding-bottom: 33px;
}
.ico1{
	padding: 15px 10px 0 0;
	float: right;
	max-width: 221px;
	height: auto;
}
.ico2{
	padding-top: 24px;
	float: left;
	max-width: 270px;
	height: auto;
}
.skills{
	padding: 100px 0;
}
.skill-item{
	display: block;
	height: 147px;
}
.skill-item-wrap{
	width: 285px;
	float: right;
}
.skill-item img{
	float: left;
	padding-right: 16px;
}
.skill-header{
	letter-spacing: -0.05em;
	font-size: 22px;
	color: #222222;
	font-weight: 500;
	padding: 3px 0 7px;
}

.clients{
	overflow: auto;
	text-align: center;
	background-color: #fafafa;
}
.clients h2{
	padding: 46px 0 9px;
}
.clients p{
	font-size: 20px;
}
.px19{
	font-size: 19px;
}
 .clients .client-box{
 	position: relative;
 	margin: 45px 0 20px;
 	height: 235px;
}
.clients .client-box:last-child{
	margin: 0px 0 90px;
	height: 235px;
}
.clients .wrapper-right, .clients .wrapper-left{
	position: absolute;
	height: 175px;
	overflow: auto;
	margin: auto;
	top: 0;
	bottom: 0;
}
.clients .wrapper-right{
	right: 21px;
	background: url(../img/Speak-Box-left.png) no-repeat;
	width: 676px;
	
}
.clients .wrapper-left{
	left: 32px;
	background: url(../img/Speak-Box-right.png) no-repeat;
	width: 665px;
}
.circle1, .left-colum{
	float: left;
}
.circle2, .right-colum{
	float: right;
}
.wrapp{
	margin: auto;
	width: 479px;
	height: 88px;
	padding-top: 34px;
	text-align: left;
}
.wrapp p{
	letter-spacing: -0.050em;
	line-height: 33px;
	font-size: 23px;
	padding-bottom: 13px;
}
.wrapp a{
	font-size: 17px;
	color: #7690c5;
	text-decoration: none;
}

.logos{
	height: 41px;
	line-height: 41px;
	font-size: 0;
	text-align: center;
	padding: 60px 0;
}
.logos img{
	padding-right: 40px;
	vertical-align: middle;
}
.logos img:last-child{
	padding: 0;
}

.team{
	background-color: #111111;
	padding: 92px 0 100px;
	text-align: center;
}
.team h2{
	color: #ffffff;
	padding-bottom: 11px;
}
.sub-title{
	font-size: 20px;
}
.team-box{
	display: inline-block;
	padding: 75px 0 44px;
	width: 277px;
}
.team-box:last-child{
	padding-right: 0;
}
.name{
	color: #ffffff;
	font-weight: 700;
	padding-top: 12px;
}
.title{
	color: #ebebeb;
	padding-bottom: 5px;
}
.description{
	font-size: 19px;
	color: #ebebeb;
	max-width: 590px;
	margin: auto;
}

.contacts{
	padding-top: 93px;
	background-color: #7690c5;
	overflow: auto;
}
.contacts .container{
	height: 467px;
	border-bottom: 1px solid #87a0d2;
}
.contacts h2, .contacts p{
	color: #ffffff;
}
.contacts .sub-title{
	padding: 22px 0 11px;
	max-width: 415px;
}
.contact-item{
	width: 230px;
	height: 30px;
	display: inline-block;
	padding-top: 37px;
}
.wrap{
	width: 30px;
	height: 30px;
	float: left;
	padding-right: 10px;
	text-align: center;
}

.content{
	float: left;
	width: 50%;
}
.forma{
	float: right;
	width: 458px;
	height: 360px;
	margin-top: 3px;
}
.forma input[type="text"], .forma textarea{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 458px;
	height: 52px;
	padding: 15px 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #bbbbbb;
	background: #ffffff;
	box-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	font-weight: 400;
	-webkit-border: 1px solid #cccccc;
	-moz-border: 1px solid #cccccc;
	-ms-border: 1px solid #cccccc;
	-o-border: 1px solid #cccccc;
	border: 1px solid #cccccc;
}
.forma textarea{
	height: 210px;
	resize: none;
}
#adress{
	margin: 28px 0 19px;
}


.footer{
	height: 77px;
	background-color: #7690c5;
	text-align: center;
}
.footer p{
	font-size: 15px;
	line-height: 77px;
	color: #ffffff;
}

@media screen and (max-width:1000px) {
	h1{
		font-size: 55px;
	}
	h2{
		font-size: 40px;
	}
	.container{
		padding: 0 30px;
	}
	.header{
		height: 530px;
	}
	.header p{
		padding-top: 115px;
		font-size: 30px;
	}
	.home h2{
		padding-bottom: 25px;
	}
	.first{
		padding-bottom: 15px;
	}
	.ico1{
		width: 29%;
		padding-right: 0;
	}
	.ico2{
		width: 26%;
	}
	.servis-box, .team{
		padding: 50px 0;
	}
	.wrapper-left, .wrapper-right{
		width: 70%;
	}
	.skills {
		padding: 50px 0;
	}
	.skill-item-wrap{
		width: 275px;
	}
	.clients h2 {
		padding: 20px 0 9px;
	}
	.clients .client-box:last-child {
		margin: 0px 0 50px;
	}
	.clients .wrapper-right, .clients .wrapper-left{
		background: none;
		position: static;
		width: auto;
	}
	.logos{
		padding: 30px 0;
	}
	.logos img{
		padding-right: 25px;
	}
	.team-box{
		padding-top: 35px;
		width: 244px;
	}
	.contacts{
		padding-top: 50px;
	}
	.contacts .container{
		height: 430px;
	}
	.contact-item{
		width: 179px;
		padding-top: 25px;
		padding-right: 0;
	}
	.forma{
		width: 50%;
	}
	.forma input[type="text"], .forma textarea{
		width: 100%;
	}
	.wrap{
		width: 27px;
		padding-right: 2px;
	}
	.wrapp{
		padding: 70px 25px 0 0;
	}
}

@media screen and (max-width:800px) {
	h1{
		font-size: 40px;
		padding: 30px 0 40px;
	}
	h2{
		font-size: 30px;
	}
	.header{
		height: 400px;
	}
	.header p{
		padding-top: 80px;
		font-size: 25px;
	}
	.button{
		width: 197px;
	}
	.wrapper-left, .wrapper-right{
		width: auto;
	}
	.servis-box, .skills{
		padding-bottom: 0;
	}
	.skills{
		padding-bottom: 20px;
	}
	.skill-item-wrap{
		width: 84%;
	}
	.skill-item{
		height: auto;
		padding-bottom: 15px;
	}
	.wrapp{
		padding: 45px 0 0;
		width: 400px;
	}
	.wrapp p{
		font-size: 18px;
		line-height: 28px;
	}
	.wrapp a{
		font-size: 16px;
	}
	.ico1, .ico2{
		display: none;
	}
	.clients .client-box{
		height: auto;
		margin: 30px 0 20px;
	}
	.clients .client-box:last-child{
		margin: 0 0 20px;
		height: auto;
	}
	.circle1, .circle2{
		width: 30%;
	}
	.logos{
		height: auto;
		padding: 15px 0;
	}
	.logos img{
		width: 21%;
	}
	.sub-title{
		font-size: 18px;
	}
	.team-box{
		width: 190px;
	}
	.team-box img{
		width: 100%;
	}
	.social-box{
		width: 100%;
	}
	.social-box img{
		width: 24%;
	}
	.description{
		font-size: 17px;
	}
	.contacts .container{
		height: auto;
		overflow: auto;
	}
	.forma{
		float: none;
		width: auto;
		margin-top: 20px;
	}
	.content{
		float: none;
		width: auto;
	}
	.contacts .sub-title{
		font-size: 16px;
	}
	.contact-item{
		width: 190px;
		padding-bottom: 5px;
		
	}
}

@media screen and (max-width:640px){
	
}