body{
	font-family: 'Roboto', sans-serif;
}
h1{
	font-size: 47px;
	font-weight: 700;
	padding: 50px 0 80px;
	text-transform: uppercase;
}
h2{
	font-size: 42px;
	font-weight: 300;
}
h2 span{
	font-weight: 700;
}
p{
	font-size: 13px;
	font-weight: 400;
	color: #777777;
}
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
}
.container{
	width: 940px;
	margin: 0 auto;
}
.header{
	position: relative;
	height: 620px;
	background: url(../img/header-bg.png);
	color: #ffffff;
	text-align: center;
}
.header .container{
	padding-top: 50px;
}
.header p{
	font-size: 24px;
	font-weight: 300;
	padding-top: 150px;
	line-height: 65px;
}
.header .button a{
	display: block;
	font-size: 16px;
	font-weight: 700;
	padding: 22px 67px 27px 69px;
	color: inherit;
	text-decoration: none;
}
.logo{
	float: left;
}
.navig{
	float: right;
	font-weight: 500;
	font-size: 13px;
}
.navig a{
	text-decoration: none;
	color: inherit;
}
.navig li{
	display: inline-block;
	padding-right: 30px;
}
.navig li:last-child{
	padding: 0;
}
.button{
	height: 65px;
	width: 240px;
	margin: 0 auto;
	border: 2px solid #ffffff;
	border-radius: 3px;
}


.home .container{
	width: 860px;
}
.servis-box{
	padding: 100px 0;
}
.wrapper-left{
	float: left;
	width: 555px;
}
.wrapper-right{
	float: right;
	width: 515px;
}
.home h2{
	padding-bottom: 52px;
}
.first{
	padding-bottom: 45px;
}
.ico1{
	float: right;
	width: 221px;
	height: 222px;
}
.ico2{
	float: left;
	width: 270px;
	height: 195px;
}
.skills{
	padding: 100px 0;
}
.skill-item{
	display: inline-block;
	height: 97px;
}
.skill-item-wrap{
	width: 285px;
	float: right;
}
.skill-item img{
	float: left;
	padding-right: 18px;
}
.skill-header{
	font-size: 16px;
	color: #222222;
	font-weight: 500;
	padding: 5px 0 17px;
}

.clients{
	overflow: auto;
	text-align: center;
	background-color: #fafafa;
}
.clients h2{
	padding: 100px 0 20px;
}
.clients p{
	font-size: 16px;
}
.px19{
	font-size: 19px;
}
 .clients .client-box{
 	position: relative;
	margin: 52px 0 40px;
	height: 235px;
}
.clients .client-box:last-child{
	margin:0 0 98px;
	height: 235px;
}
.clients .wrapper-right{
	position: absolute;
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	top: 0; right: 0; bottom: 0;
	background: url(../img/Speak-Box-left.png);
	width: 663px;
	height: 175px;
}
.clients .wrapper-left{
	position: absolute;
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	top: 0; bottom: 0; left: 0;
	background: url(../img/Speak-Box-right.png);
	width: 663px;
	height: 175px;
}
.circle1{
	float: left;
}
.circle2{
	float: right;
}
.wrapp{
	margin: auto;
	width: 479px;
	height: 88px;
	padding-top: 40px;
	text-align: left;
}
.wrapp p{
	font-size: 19px;
	padding-bottom: 22px;
}
.wrapp a{
	color: #7690c5;
	text-decoration: none;
}

.logos{
	height: 41px;
	line-height: 41px;
	font-size: 0;
	text-align: center;
	padding: 60px 0;
}
.logos img{
	max-height: 41px;
	padding-right: 40px;
	vertical-align: middle;
}
.logos img:last-child{
	padding: 0;
}

.team{
	background-color: #111111;
	padding: 100px 0;
	text-align: center;
}
.team h2{
	color: #ffffff;
	padding-bottom: 22px;
}
.sub-title{
	font-size: 16px;
}
.team-box{
	display: inline-block;
	padding: 80px 45px 50px 0;
	width: 235px;
}
.team-box:last-child{
	padding-right: 0;
}
.name{
	color: #ffffff;
	font-weight: 700;
	padding: 19px 0 12px;
}
.title{
	color: #ebebeb;
	padding-bottom: 11px;
}
.description{
	color: #ebebeb;
	max-width: 590px;
	margin: auto;
}